/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//Reset CSS
//Color Var
$mainBlue : #2E4273;
$secondaryBlue : #8FB7D3;
$mainYellow : #ffbb16;
//size & spacing var
$STANDARD_MARGIN_SIZE : 15px;
@mixin setBackgroundSite($urlBackground) {
  background: url($urlBackground) no-repeat center center ;
  background-size: cover;
}
@mixin skewButton() {
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

@mixin centerHorizontalVertical{
  display: flex;
  align-items: center;
  justify-content: center;
}

html  {

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

body {
  font-family: "San Francisco Text", serif;
  color: white;
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.17em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.83em; }
  h6 { font-size: 0.67em; }

  h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-family: "SFU ClearGothic", Arial, sans-serif;
    margin-bottom: $STANDARD_MARGIN_SIZE;
  }
  p {
    font-size: 16px;
    line-height: 2rem;
  }
}
.title {
  font-family: "SFU ClearGothic", Arial, sans-serif;
  color: $secondaryBlue;
}
#home{
  position: relative;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 7;
    &__logo{
      img{
        width: 100%;
        padding: 7% 0 5%;
      }
    }
    &__links{
      margin: auto;
      ul{
        display: flex;
      }
      li{
        display: inline-block;
        padding-right: 4%;
        font-size: 1.1rem ;
        &:hover{
          opacity: 1;
        }
        &:last-child {
        padding-right: 0;
      }
        a{
          text-decoration: none;
          color: white;
          &:hover{
            color: $mainYellow;
          }
        }
      }
      clear: both;
    }
}
.introduction, .admission {
  position: relative;
  &__background {
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: url("../Images/background_1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__quote{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    overflow: hidden;
    line-height: normal;
    #quote__title{
      text-transform: capitalize;
      max-width: 340px;
      margin-bottom: $STANDARD_MARGIN_SIZE;
    }

    #quote__description {
      max-width: 450px;
      margin-bottom: $STANDARD_MARGIN_SIZE;
    }
    a{
      text-transform: uppercase;
      color: $secondaryBlue;
      font-weight: bold;
      background-color: white;
      border-radius: 0;
      min-width: 150px;
      padding: 6px 12px;
      @include skewButton;

      &:hover {
        background-color: $mainYellow;
        color: white;
      }
    }
  }
  &__slogan {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    .slogan__item{
      &__image {
        margin-bottom:$STANDARD_MARGIN_SIZE;
      }
      &__content {
        font-size: 30px;
        min-width: 200px;
      }
    }
  }
}
//#TODO style lại phần ô trang chủ
  #content {
    &__first-row {
      &__left-column {
        @include setBackgroundSite("../Images/index_1.jpeg");
      }

      &__right-column {
        background-color: $secondaryBlue;
        @include centerHorizontalVertical;

        #first-row-content {
        }
      }
    }

    &__second-row, &__third-row {
      min-height: 385px;
      position: relative;
      z-index: 6;
      &__left-column {
        position: absolute;
        inset: 0;
      }

      &__right-column {
        position: absolute;
        inset: 0 50%;
      }
    }

    &__second-row {
      &__left-column {
        @include setBackgroundSite("../Images/index_2.png");
        &:hover{
          transition: all .3s ease;
        }
      }

      &__right-column {
        margin-left: 10px;
        @include setBackgroundSite("../Images/index_3.png")
      }
    }

    &__third-row {
      &__left-column {
        @include setBackgroundSite("../Images/index_4.png")
      }

      &__right-column {
        //margin-left: 10px;
        @include setBackgroundSite("../Images/index_5.png")
      }
    }

  }
.content__hover{
  background-color: $mainYellow;
  position: absolute;
  inset: 0;
  z-index: 4;
  padding: 10%;
  text-align: justify;
  &__title{
    font-size: 26px;
    line-height: 36px;
    overflow: hidden;
    max-height: 101px;
  }
  &__description {
    line-height: 22px;
    max-height: 88px;
    overflow: hidden;
    color: $mainBlue;
  }
  &__button{
    padding-top: 15px;
    a{
      text-transform: uppercase;
      color: $mainYellow;
      font-weight: bold;
      background-color: white;
      border-radius: 0;
      min-width: 150px;
      padding: 6px 12px;
      @include skewButton;
      &:hover{
        background-color: $secondaryBlue;
        color: white;
        border: none;
      }
    }
  }
}
.hint-trigger{
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  background-color: $mainYellow;
  padding: 2% 7%;
  &:after{
    content: "+";
    font-size: 6rem;

  }

  .plus-symbol {
    padding: 10%;
    color: red;
    text-align: justify;
  }
}

.slider {
  padding: 10% 0;
  color: $mainBlue;
  overflow: hidden;

  h3{
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__content {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;

    &__item {
      padding: 3%;
      flex: 1 0 100%;
      &__content {
        position: absolute;
        inset: 0;
       &__left-column {
         img{
           width: 100%;
         }
       }
        &__right-column {
          display: block;
          margin: auto;
          padding: 5px;
        }
      }
    }
    &__nav{
      text-align: center;
      &__dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

.footer {
  color: white;
  padding: 5% 5% 5% 0;
  clear: both;
  background-color: $mainBlue;
  font-size: 1.0rem;
  p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  &__logo {
    img{
      width: 100%;
    }
  }
  &__links {
    ul{
      list-style-type: none;
      li {
        padding-bottom: 3%;
        border-bottom: 1px solid white;
        &:hover{
          border-bottom: 2px solid yellow;
        }
        &:last-child {
          padding-right: 0;
        }
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.carousel {
  img {
    width: 100%;

  }
}
.information, .course, .admission, .testimonial{
  display: grid;
  grid-template-columns: 40% 50%;
  color: black;
  padding-top: 3%;
  &__buttons{
    text-transform: uppercase;
    font-weight: 700;
  }
  h4, h5, h6 {
    border-bottom: 1px solid $mainBlue;
    padding: 3% 0;
    opacity: 0.8;
    font-weight: 700;
  }
  h4{
    display: list-item;
  }
  h5 {
    text-indent: 10px;
  }
  h6{
    ::before{
      content: "+ ";
    }
    text-indent: 20px;
  }
  button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-align: left;
    &:hover, &:active {
      color: $mainBlue;
      opacity: 100%;
      font-weight: bold;
    }
  }
  &__left-column{
    text-align: left;
  }
  &__right-column{
    line-height: 3vh;
    color: $mainBlue;
    img{
      width: 100%;
    }
    #show__title{
      font-size: 30px;
      line-height: 40px;
      text-transform: capitalize;
      text-align: justify-all;
    }
  }
  &__introduction, {
    &__content {
      display: flex;
      height: 40vh;
      &__left-column {
        flex: 1;
        background-color: $secondaryBlue ;
        clip-path: polygon(0 6%, 100% 28%, 100% 100%, 0% 100%);
      }
      &__right-column {
        flex: 1;
        background-color: $mainYellow;
        clip-path: polygon(0 44%, 100% 73%, 100% 100%, 0% 100%);
      }
    }
  }
}

.course {
  &__title {
    text-align: center;
    color: black;
  }
  &__background {
   img {
      width: 100%;
    }
  }
}

.admission{
  margin-top: 10%;
  &__content{
    color: $mainBlue;
    img{
      width: 100%;
    }
  }
  &__left-column {
  }
}

.testimonial {
  &__side-video {
    &__title {
      text-transform: uppercase;
      margin: 10px 0;
      color: $mainBlue;
      font-weight: 700;
    }
    &__content {
      iframe{
        width: 100%;
      }
    }
  }
}

.faq {
  background-color: $secondaryBlue;
  &__header {
    font-size: 20px;
    color: $mainBlue;
    background-color: $mainYellow;
    padding: 8px 15px;
    font-family: "SFU Clear Gothic",Arial,sans-serif;
  }
  &__content {
    background-color: #e7f0f7;
    &__item {
      padding: 5px 30px 10px 35px;
      border-bottom: 1px solid $mainBlue;
      &__title {
        cursor: pointer;
        color: #979797;
        &:hover {
          color: $mainBlue;
        }
        h4{
          display: inline-block;
          border-bottom: none;
          padding: 0;
        }
        img{
          float: right;
        }
     }
      &__content{
        margin-top: 5px;
        display: none;
        color: $mainBlue;
      }
    }
  }
}


.sign-in, .sign-up {
  &__status-bar {
    background-color: $mainBlue;
    display: flex;
    &__left-column{
      display: flex;
    }
    &__right-column {
      text-transform: uppercase;
      }
    }
  &__form {
    &__left-column {
      &__title {
       h2{
         text-transform: uppercase;
          margin-bottom: 7%;
         font-size: 1.3rem;
         font-family: "SFU ClearGothic", serif;
       }
      }
    }
    &__right-column {
      &__title{
        h2{
          font-size: 1.3rem;
          margin: 25% 0 7%;
          text-transform: uppercase;
          font-family: "SFU ClearGothic", serif;
        }
      }
    }
  }
  &__form {
    color: $secondaryBlue;
    &__left-column{
      &__header {
        color: $mainBlue;
        margin: 7% 0;
        font-size: 1.7rem;
        font-family: "SFU ClearGothic", serif;
        font-style: italic;
      }
    }
    label {
      display: block;
    }
    input {
      background-color: #E5E4E5;
      margin: 2% 0;
      width: 100%;
      font-size: 15px;
      height: 2rem;
      border: 0;
    }
    p {
      margin: 3% 0;
      a{
        text-decoration: none;
        color: $mainBlue;
      }
    }
    &__email, &__password {
      display: block;
    }
  }
}

.sign-up__form {
  display: flex;
  &__left-column {
    flex: 1;
  }
  &__right-column {
    flex: 1;
  }
}

.forget-password{
  &__form {
    &__header {
      color: $mainBlue;
      h2 {
        text-transform: uppercase;
        margin: 4% 0;
        font-size: 1.3rem;
        font-family: "SFU ClearGothic", serif;
      }
    }
    &__quote{
      margin-bottom: 5%;
    }
    &__email{
      label {
        color: $secondaryBlue;
      }
      input {
        display: block;
        background-color: #E5E4E5;
        width: 50%;
        font-size: 15px;
        height: 2rem;
        border: 0;
        margin: 3% 0;
        color: $mainBlue;
      }
    }
    &__quote{
      color: $mainBlue;
    }
  }
}

.testimonial {
  &__first-section {
    display: flex;
    &__avatar{
      flex: 2;
      height: 5vh;
      img{
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__content {
      flex: 10;
      color:$mainBlue;
    }
  }
}

.contact{
  &__primary{
    background-color: $mainBlue;
    display: flex;
    &__image {
      flex: 3;
      img{
        width: 100%;
      }
    }
    &__form{
      h2{
        font-size: 50px;
        margin-bottom: $STANDARD_MARGIN_SIZE;
      }
      flex: 7;
      label{
        display: block;
      }
        &__line {
          display: flex;
          .first__item, .second__item {
            flex: 1;
           label{
             margin-bottom: $STANDARD_MARGIN_SIZE;
           }
            input {
              margin-bottom: $STANDARD_MARGIN_SIZE;
              width: 90%;
              padding: 6px 12px;
              border: 1px solid #ccc;
            }
          }
        }
      textarea{
        display: block;
        resize: none;
        width: 95%;
        padding: 6px 12px;
        margin: $STANDARD_MARGIN_SIZE 0;
        border: 1px solid #ccc;
      }
    }
  }
}
.contact{
  &__information {
      display: flex;
      &__map {
        flex: 4;
      }
      &__content {
        flex: 6;
        color: $mainBlue;
        p{
          margin: $STANDARD_MARGIN_SIZE 0;
        }
        strong{
          font-weight: bold;
        }
      }
    padding: 15px;
  }
}

//MODIFIED ON_OFF
.visible {
  display: block;
}
.hidden {
  display: none;
}
.active-accordion{
  color: $mainBlue;
  cursor: pointer;
}
.rotate_up{
  transform: rotate(180deg);
}
.white-text{
  color: white;
}
.main-blue-text{
  color: $mainBlue;
}
