/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//Reset CSS
$mainBlue : #2E4273;
$secondaryBlue : #8FB7D3;
$mainYellow : #F4B72F;
@mixin setBackgroundSite($urlBackground) {
  background: url($urlBackground) no-repeat left top;
  background-size: cover;
  img{
    width: 100%;
  }
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

body {
  font-family: "San Francisco Text", serif;
  color: white;
  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1em; }
  h5 { font-size: 0.9em; }
  h6 { font-size: 0.8em; }

  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: normal;
  }
  p {
    font-size: 18px;
    line-height: 1.7rem;
  }
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
    //background-color: $mainBlue;
    &__logo{
      img{
        width: 100%;
        padding: 7% 0 5%;
      }
    }
    &__links{
      ul{
        display: flex;
      }
      li{
        display: inline-block;
        padding: 2% 4% 0 0;
        font-size: 1.1rem ;
        border-bottom: 1px solid white;
        opacity: 0.8;
        &:hover{
          border-bottom: 1px solid yellow;
          opacity: 1;
        }
        &:last-child {
        padding-right: 0;
      }
      a{
        text-decoration: none;
        color: white;
      }
      }
      &__second-links {
        float: right;
        li{
          padding-top: 0;
          margin-top: 20px;
          border-bottom: none;
        }
      }
      clear: both;
    }
}
.introduction {
  &__background {
    background-image: url("../Images/IMG_7526.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center bottom;
    position: relative;
  }
  &__content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40vh;
    &__left-column {
      h2{
        font-size: 2rem;
      }
      flex: 1;
      background-color: $secondaryBlue ;
      padding: 0 4% 2% 0;
      clip-path: polygon(0 6%, 100% 28%, 100% 100%, 0% 100%);
      h5 {
        font-size: 16px;
        margin: 20px 0;
      }
      &__content {
        padding-left: 10%;
        display: block;
        padding-top: 10vh;
        margin: auto;
        &__button {
          &__first-button {
            padding: 2% 6% 2% 4%;
            background-color: $mainYellow;
            color: white;
            font-weight: 500;
            clip-path: polygon(0 0, 100% 0, 89% 100%, 0% 100%);
          }
          &__second-button {
            margin-left: -4%;
            padding: 2% 4% 2% 6%;
            background-color: white;
            color: $secondaryBlue;
            font-weight: 500;
            clip-path: polygon(8% 1%, 100% 0, 100% 100%, 0% 100%);
          }
        }
     }
    }
    &__right-column {
      flex: 1;
      background-color: $mainYellow;
      clip-path: polygon(0 34%, 100% 73%, 100% 100%, 0% 100%);
    }
  }
}
.summary {
  background: url("../Images/Content1.jpg") no-repeat center , linear-gradient(rgba(0,0,0,0.5), $mainBlue);
  background-blend-mode: overlay;
  background-size: cover;
  box-shadow:inset 0 $mainBlue;
  &__skills {
    display: flex;
    padding: 3% 0;
    &__first {
      margin-bottom: 10%;
      img {
        width: 50%;
      }
      h3{
        margin: 10px 0;
        color: white;
      }
      p{
         opacity: 0.8;
      }
    }
  }
}
//#TODO style lại phần ô trang chủ
.content {
  #content {
    &__first-row {
      //margin-top: -10%;
      &__left-column {
        background-color: $secondaryBlue;
        //clip-path: polygon(0 0, 100% 10%, 100% 86%, 0 70%);
      }

      &__right-column {
        @include setBackgroundSite("../Images/Content3.jpg");
        //clip-path: polygon(0 10%, 100% 29%, 100% 100%, 0 86%);
      }
    }

    &__second-row {
      margin-top: -7%;
      &__left-column {
        @include setBackgroundSite("../Images/Content2.jpg");
        //clip-path: polygon(0 0, 100% 10%, 100% 86%, 0 70%);
      }

      &__right-column {
        background-color: $secondaryBlue;
        //clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 86%);

        h2, p {
          color: $mainBlue;
        }
      }
    }

    &__third-row {
      margin-top: -7%;
      &__left-column {
        background-color: $mainYellow;
        //clip-path: polygon(0 0, 100% 10%, 100% 86%, 0 70%);
        p {
          color: $mainBlue;
        }
      }

      &__right-column {
        @include setBackgroundSite("../Images/Content1.jpg");
        //clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 86%);
      }
    }
  }
}

.content__row {
  min-height: 45vh;
}

.slider {
  padding: 10% 0;
  color: $mainBlue;
  overflow: hidden;

  h3{
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__content {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;

    &__item {
      padding: 3%;
      flex: 1 0 100%;
      &__content {
        position: absolute;
        inset: 0;
       &__left-column {
         img{
           width: 100%;
         }
       }
        &__right-column {
          display: block;
          margin: auto;
        }
      }
    }
    &__nav{
      text-align: center;
      &__dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

.footer {
  padding: 5% 5% 5% 0;
  clear: both;
  background-color: $mainBlue;
  font-size: 1.0rem;
  p {
    font-size: 0.9rem;
  }
  &__logo {
    img{
      width: 100%;
    }
  }
  &__links {
    ul{
      list-style-type: none;
      li {
        padding-bottom: 3%;
        border-bottom: 1px solid white;
        &:hover{
          border-bottom: 2px solid yellow;
        }
        &:last-child {
          padding-right: 0;
        }
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.carousel {
  &__background {
    display: flex;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;

    }
  }
}

.information, .course{
  display: grid;
  grid-template-columns: 40% 60%;
  color: black;
  padding-top: 3%;
  h5, h6 {
    border-bottom: 1px solid $mainBlue;
    padding: 2% 0;
    //opacity: 50%;
  }
  h5{
    display: list-item;
  }
  h6 {
    text-indent: 10px;
  }
  button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    &:hover, &:active {
      color: $mainBlue;
      opacity: 100%;
      font-weight: bold;
    }
  }
  &__right-column{
    padding: 2%;
    line-height: 3vh;
  }
  &__introduction, {
    &__content {
      display: flex;
      height: 40vh;
      &__left-column {
        flex: 1;
        background-color: $secondaryBlue ;
        clip-path: polygon(0 6%, 100% 28%, 100% 100%, 0% 100%);
      }
      &__right-column {
        flex: 1;
        background-color: $mainYellow;
        clip-path: polygon(0 34%, 100% 73%, 100% 100%, 0% 100%);
      }
    }
  }
}

.course {
  &__title {
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
  &__background {
   img {
      width: 100%;
    }
  }
}

.admission{
  &__background {
    img{
      width: 100%;
      height: 100vh;
    }
  }
  &__content{
    padding: 5% 0;
    color: $mainBlue;
  }
}

.sign-in, .sign-up {
  &__status-bar {
    background-color: $mainBlue;
    display: flex;
    &__left-column{
      display: flex;
    }
    &__right-column {
      text-transform: uppercase;
      }
    }
  &__form {
    &__left-column {
      &__title {
       h2{
         text-transform: uppercase;
          margin-bottom: 7%;
         font-size: 1.3rem;
         font-family: "SFU ClearGothic", serif;
       }
      }
    }
    &__right-column {
      &__title{
        h2{
          font-size: 1.3rem;
          margin: 25% 0 7%;
          text-transform: uppercase;
          font-family: "SFU ClearGothic", serif;
        }
      }
    }
  }
  &__form {
    color: $secondaryBlue;
    &__left-column{
      &__header {
        color: $mainBlue;
        margin: 7% 0;
        font-size: 1.7rem;
        font-family: "SFU ClearGothic", serif;
        font-style: italic;
      }
    }
    label {
      display: block;
    }
    input {
      background-color: #E5E4E5;
      margin: 2% 0;
      width: 100%;
      font-size: 15px;
      height: 2rem;
      border: 0;
    }
    p {
      margin: 3% 0;
      a{
        text-decoration: none;
        color: $mainBlue;
      }
    }
    &__email, &__password {
      display: block;
    }
  }
}

.sign-up__form {
  display: flex;
  &__left-column {
    flex: 1;
  }
  &__right-column {
    flex: 1;
  }
}

.forget-password{
  &__form {
    &__header {
      color: $mainBlue;
      h2 {
        text-transform: uppercase;
        margin: 4% 0;
        font-size: 1.3rem;
        font-family: "SFU ClearGothic", serif;
      }
    }
    &__quote{
      margin-bottom: 5%;
    }
    &__email{
      label {
        color: $secondaryBlue;
      }
      input {
        display: block;
        background-color: #E5E4E5;
        width: 50%;
        font-size: 15px;
        height: 2rem;
        border: 0;
        margin: 3% 0;
      }
    }
    &__quote{
      color: $mainBlue;
    }
  }
}

.testimonial {
  &__first-section {
    display: flex;
    &__avatar{
      flex: 2;
      height: 5vh;
      img{
        height: auto;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__content {
      flex: 10;
      color:$mainBlue;
    }
  }
}
